&wifi0 {
    status = "okay";
};


&i2c2 {
    hts221: hts221@5f {
        compatible = "st,hts221";
        reg = <0x5f>;
        drdy-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
        status = "okay";
        label = "TEMP_SENSOR";
    };
};

/ {
    aliases {
        temp = &hts221;
        humid = &hts221;
    };
};