/*
 * Device tree overlay for disco_l475_iot1 to enable HTS221 sensor access
 * SPDX-License-Identifier: Apache-2.0
 */

/* Add label to HTS221 sensor and enable it */
&i2c2 {
	hts221: hts221@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		drdy-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

/ {
	aliases {
		ambient-temp0 = &hts221;
		ambient-humid0 = &hts221;
		temp0 = &hts221;
		humid0 = &hts221;
	};
}; 